ASSIGNMENT2/bin/Debug/ASSIGNMENT2.pdb
ASSIGNMENT2/bin/Debug/ASSIGNMENT2.exe
.vs/ASSIGNMENT2/v15/Server/sqlite3/storage.ide-wal
.vs/ASSIGNMENT2/v15/Server/sqlite3/storage.ide-shm
.vs/ASSIGNMENT2/v15/Server/sqlite3/storage.ide
