.vs/ASSIGNMENT2/v15/.suo
.vs/ASSIGNMENT2/v15/Server/sqlite3/storage.ide
.vs/ASSIGNMENT2/v15/Server/sqlite3/storage.ide-wal
.vs/ASSIGNMENT2/v15/Server/sqlite3/storage.ide-shm
ASSIGNMENT2/obj/Debug/ASSIGNMENT2.csproj.GenerateResource.cache
ASSIGNMENT2/bin/Debug/ASSIGNMENT2.pdb
ASSIGNMENT2/bin/Debug/ASSIGNMENT2.exe
ASSIGNMENT2/obj/Debug/ASSIGNMENT2.csproj.FileListAbsolute.txt
ASSIGNMENT2/obj/Debug/ASSIGNMENT2.exe
ASSIGNMENT2/obj/Debug/ASSIGNMENT2.pdb
